:root{
    --verde:#C9E414;
    --blanco:#fff;
    --azul:#3A7C7D;
    --rat:#2b5b5c;
    --rojo:#FF0000;
    --oscuro:#000;
    --titulos:'Arima Madurai',cursive;
    --parrafos:'Mulish', sans-serif;
}

html{
    box-sizing: border-box;
    /*1rem = 10px*/
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    overflow-x: hidden;  
}



@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');



*,*::after, *::before{
    box-sizing: inherit;
}
/*globales*/
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
    width: 95%;
}
h1,h2{
    font-family: var(--titulos);
}
h3, p, a{
    font-family: var(--parrafos);
}

img{
    max-width: 100%;
}
.verde{
    color: var(--verde);
}
.rojo{
    color: var(--rojo);
}
.azul{
    color: var(--azul)
}
.rat{
    color: var(--rat)
}

.pantalla-completa{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 4;
}

@keyframes desplazamiento {
    0%{
        transform: translateX(100%);
    }

    100%{
        transform:translateX(0);
    }
}

@media(min-width: 768px) {
    .btn{
        font-size: 2.2rem;
    }
}
.bordes{
    border: 3px solid var(--blanco);
}
@media(min-width: 768px) {
    .bordes{
        border: 4px solid var(--blanco);
    }
}






.contenedor-top{
    background-color: var(--oscuro);
    position: fixed;
    width: 100%;
    height: 8%;
    font-size: 15px;
    z-index: 5;
}

.contenido-top{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(min-width: 768px) { 
    .navegacion a{
        text-align: left;
    }
}


.flecha a{
    position: absolute;
    left: 3%;
    top: 25%;
    color: var(--blanco);
}

.flecha a:hover{
    color: var(--verde);
}

.contenido-header{
    position: relative;
}


.contenido-header::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
}
.texto-encabezado{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: clamp(1rem, 8vw, 7rem);
}

.texto-encabezado h2{
    color: var(--blanco);
    margin-top: 10px;
    margin-bottom: 10px;   
}




.bucle{
    padding: 10px;
    margin: 0;
    background-image: radial-gradient(circle, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    color: var(--blanco);
    margin-bottom: 0;
}

.titulo{
    text-align: center;
    margin-bottom: 0%;
    padding: 0.3px;
    background-color: grey;
}

/*diseño de la seccion donde estan las fotos de los productos*/
.fullcontainer{
    background: rgb(58,124,125);
    background: linear-gradient(0deg, rgba(58,124,125,1) 0%, rgba(255,255,255,1) 100%); 
}


.container-img{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 0%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 390px;
    grid-gap: 20px;
    background-color: #000;
}



.container-img .card img{
    width: 100%;
    height: 100%;
}

.container-img .card {
    position: relative;
    overflow: hidden;
}

.container-img .card .intro {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 78%;
    height: 80%;
    bottom: 10px;
    margin-left: 40px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 20px;
    transform: translateY(100%);
    transition: transform 0.3s ease;
}

.container-img .card:hover .intro {
    transform: translateY(0);
}